<!DOCTYPE html>
<html>
  <head>
    <title>Intro to Rails - Very Basic Blog</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <h1>Intro to Rails - Very Basic Blog</h1>
    <%= link_to "Home", root_path %> | 
    <%= link_to "New Post", new_post_path %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>

</html>
